@model IEnumerable<Microsoft.WindowsAzure.Storage.Blob.IListBlobItem>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigriet</title>
    <link rel="stylesheet" type="text/css" href="~/webroot/css/style.css">
</head>
<body>
    <h1>Ċempel fuq <a href="tel:+35627781628">+356 27781628</a> u ħalli sigriet anonimu</h1>
    @foreach (var blob in Model)
    {
        <div>
            <audio controls>
                <source src="@blob.Uri" type="audio/wav" />
            </audio>
        </div>
    }

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="~/webroot/js/script.js"></script>
</body>
</html>
