@model IEnumerable<Microsoft.WindowsAzure.Storage.Blob.IListBlobItem>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sigriet</title>
</head>
<body>
    <h1>Call <a href="tel:+35627781628">+356 27781628</a> and leave a secret</h1>
    @foreach (var blob in Model)
    {
        <div>
            <audio controls>
                <source src="@blob.Uri" type="audio/wav" />
            </audio>
        </div>
    }
</body>
</html>
